@model OceanicAirlinesWebApp.Models.Parcel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parcel</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" style="background-color:#4AB0E0" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" style="background-color:#4AB0E0" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" style="background-color:#4AB0E0" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" style="background-color:#4AB0E0" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" style="background-color:#4AB0E0" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class="form-control" style="background-color:#4AB0E0" >
                    <option disabled selected>--- SELECT ---</option>
                    <option value="A">A - H:25; D:25; B:25</option>
                    <option value="B">B - H:40; D:40; B:40</option>
                    <option value="C">C - H:200; D:200; B:200</option>
                </select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" style="background-color:#4AB0E0" >
                    <option disabled selected>--- SELECT ---</option>
                    <option value=0>Standard</option>
                    <option value=3>Refrigerated</option>
                    <option value=5>Cautious</option>
                    <option value=6>Furniture</option>
                    <option value=7>Weapons</option>
                </select>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Create" style="background-color:#000000; color:#4AB0E0" class="btn btn-primary" />
            </div>
        </form>
  </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
